@import "./reset.css";

/* Custom Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Karla:wght@300;400;500;700;800&family=Open+Sans:wght@300&display=swap');

/* Variables */
:root {
    --primary-teal: #35A7AB;
    --primary-red: #F94F46;
    --secondary-cream: #FFF1DC;
    --neutral-black: #2D0200;
    --neutral-gray-800: #80726D;
    --neutral-gray-400: #F0E9DE;
    --neutral-gray-200: #F7F4EE;
    --neutral-white: #FFFFFF;

}

/* Global Styles */
* {
    box-sizing: border-box;
} 

body {
    font-family: "Inter", sans-serif;
}

hr {
    border-top: 0;
    border-bottom: 1px solid var(--neutral-gray-400);
    margin: 24px 0;
}

a {
    color: var(--primary-teal);
    transition: color 0.24s ease;
}

a:hover {
    color: var(--primary-red);
}


/* Components */
.tag-line {
    /* Font */
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    text-transform: uppercase;

    /* spacing */
    margin: 0 0 8px 0;

    /* color */
    color: var(--primary-red);
}

.heading-one {
    /* font */
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;

    /* spacing */
    margin: 0 0 8px 0;

    /* color */
    color: var(--neutral-black);
}

.body-one {
    /* font */
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;

    /* spacing */
    margin: 0;

    /* color */
    color: var(--neutral-gray-800);
}
.body-two {
    /* font */
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;

    /* spacing */
    margin: 0;

    /* color */
    color: var(--neutral-black);
}

.form-control {
    margin-bottom: 24px;

}

.form-control:last-of-type {
    margin-bottom: 32px;
}

.form-label {
    /* display */
    display: block;

    /* font */
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;

    /* spacing */
    margin-bottom: 8px;

    /* color */
    color: var(--neutral-black);
}

.form-input {
    /* shape */
    width: 100%;
    border: none;
    border-radius: 4px;
    outline-color: var(--neutral-black);

    /* font */
    /* spacing */
    padding: 12px 24px;
    /* color */
    background-color: var(--neutral-gray-200);
}

.btn {
    /* shape */
    border: none;
    border-radius: 4px;
    width: 100%;

    /* font */
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;

    /* spacing */
    padding: 12px 24px;
    margin-bottom: 16px;

    /* color */
    background-color: var(--primary-teal);
    color: var(--neutral-white);

}

.btn-primary {
    /* color */
    background-color: var(--primary-teal);
    color: var(--neutral-white);
    transition: color 2.5s ease;
}

.btn-primary:hover {
    background-color: var(--primary-red);
    cursor: pointer;
}

/* Helper Styles */
.text-center {
    text-align: center;
}

.text-light {
    color: var(--neutral-gray-800);
}

/* Layouts   */
.main-section {
    background-color: var(--secondary-cream);
    height: 100vh;
}

.container {
    max-width: 1224px;
    margin: 0 auto;
}

.header {
    padding: 32px 0;
}

.form-section {
    /* shape */
    max-width: 496px;
    margin: 0 auto;
    border-radius: 4px;
    box-shadow: 0px 4px 48px rgb(155, 144, 122, 0.1);

    /* spacing */
    padding: 40px 52px;
    /* color */
    background-color: var(--neutral-white);
}

.form-inline {
    display: flex;

}

.form-inline .form-control:first-of-type {
    margin-right: 24px;
}

.account-select {
    margin-top: 24px;
}

.illustration-sign-up {
    max-width: 470px; 
}

.illustration-sign-in {
    max-width: 470px;
    margin-top: 32px; 
}

.background-sign-in {
    background-image: url("../assets/background-sign-in.png");
    background-size: 1065px 932px;
    background-repeat: no-repeat;
    background-position: center center;
}
.background-sign-up {
    background-image: url("../assets/background-sign-up.png");
    background-size: 1065px 932px;
    background-repeat: no-repeat;
    background-position: center center;
}